/*
 * Base #1240AB
 * Lighter #4671D5
 */

/*
 * Resources Consulted
 * 1. http://stackoverflow.com/questions/5564835/preventing-horizontal-scrolling-after-a-certain-width
 */

/* 1 */
html {
    overflow: auto;
}

/* 1 */
body{
    min-width: 960px;
    overflow: hidden;
}

/* 1 */
#wrapper {
    margin: 0 auto;
    position: relative;
}

#top {
    height: 100px;
    background-color: #1240AB;
    text-align: center;
    margin-bottom: 10px;

    h1 {
        margin-top: 0px;
        padding-top: 25px;
        color: white;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
    }
}

.modal {
    z-index: -3;
}

/*
 * LOGIN PAGE STYLING
 */
#form-login {
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

#mapCanvas img {
   max-width: none;
}

#mapCanvas label {
  width: auto; display:inline;
}

/*
 * LANDING PAGE STYLING
 */

#container {
    width: 400%;
}

.page {
    position: relative;
    display: inline-block;
    width:25%;
}

#landing {
    margin-left: 0px;
    top: -344px;
}

#add {
    margin-left: 0px;
    left: -4px;
}

#browse {
    margin-left: 50%;
    top: -632px;
}

#vehicle {
    margin-left: 75%;
    top: -716px;
}

.page {
    text-align: center;

    .option {
        width: 200px;
        height: 150px;
        display: inline-block;
        border: thin solid black;
        text-align: center;
        margin: 10px;
        border-radius: 5px;
        vertical-align: top;
        cursor:pointer;

        h1 {
            font-size: 18px;
            color: white;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
            margin-top: 0px;
            background-color: #4671D5;
        }

        .option-body {
            img {
                width: 80px;
            }
        }
    }
}

#crash-info {
    img {
        width: 120px;
    }
}

.back {

    position: relative;
    left: -3.3%;

    .option {
        vertical-align: middle;
    }

    img.back-img {
        width: 55px;
        cursor: pointer;
    }
}

#plus {

    position: relative;
    left: 2.5%;

    .option {
        vertical-align: middle;
    }

    .option-body {
        position: relative;
        top: -10px;
    }
}

img#plus-img {
    width: 50px;
    display: inline-block;
    cursor: pointer;
}

.remove-option {
    display: inline-block;
    width: 0px;
    height: 0px;
    position: relative;
    top: -56px;
    left: 60px;
    color: #4671D5;
}

.remove-option-abs {
    position: absolute;
    width: 40px;
    height: 40px;
}

.remove-option:hover {
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
}

/*
 * CRASH MODAL STYLINGS
 */
#crash-description {
    width: 450px;
}
#crash-damage {
    width: 450px;
}
#crash-injured {
    width: 75px;
}
#crash-killed {
    width: 75px;
}

#modal-cardamage {

    .modal-body {
        position: relative;
        text-align: center;
    }

    img {
        width: 350px;
    }

    .nums h1 {
        width: 45px;
        position: absolute;
        cursor: pointer;
        border-radius: 5px;
    }

    #img-1 {
        top: 20px;
        left: 328px;
    }
    #img-2 {
        top: 75px;
        left: 390px;
    }
    #img-3 {
        top: 155px;
        left: 410px;
    }
    #img-4 {
        top: 230px;
        left: 389px;
    }
    #img-5 {
        top: 285px;
        left: 339px;
    }
    #img-6 {
        top: 310px;
        left: 258px;
    }
    #img-7 {
        top: 293px;
        left: 182px;
    }
    #img-8 {
        top: 237px;
        left: 124px;
    }
    #img-9 {
        top: 157px;
        left: 100px;
    }
    #img-10 {
        top: 85px;
        left: 110px;
    }
    #img-11 {
        top: 29px;
        left: 160px;
    }
    #img-12 {
        top: 5px;
        left: 250px;
    }
}
