/*
 * Base #1240AB
 * Lighter #4671D5
 */
/*
 * Resources Consulted
 * 1. http://stackoverflow.com/questions/5564835/preventing-horizontal-scrolling-after-a-certain-width
 */
/* 1 */
html {
  overflow: auto; }

/* 1 */
body {
  min-width: 960px;
  overflow: hidden; }

/* 1 */
#wrapper {
  margin: 0 auto;
  position: relative; }

#top {
  height: 100px;
  background-color: #1240AB;
  text-align: center; }
  #top h1 {
    margin-top: 0px;
    padding-top: 25px;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }

/*
 * LOGIN PAGE STYLING
 */
#form-login {
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  text-align: center; }

#mapCanvas img {
  max-width: none; }

#mapCanvas label {
  width: auto;
  display: inline; }

/*
 * LANDING PAGE STYLING
 */
#container {
  width: 300%; }

.page {
  position: relative;
  display: inline-block;
  width: 33.33%; }

#landing {
  margin-left: 0px;
  top: -344px; }

#add {
  margin-left: 0px;
  left: -4px; }

#browse {
  margin-left: 66.66%;
  top: -616px; }

#landing, #add, #browse {
  text-align: center; }
  #landing .option, #add .option, #browse .option {
    width: 200px;
    height: 150px;
    display: inline-block;
    border: thin solid black;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    vertical-align: top;
    cursor: pointer; }
    #landing .option h1, #add .option h1, #browse .option h1 {
      font-size: 18px;
      color: white;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
      margin-top: 0px;
      background-color: #4671D5; }
    #landing .option .option-body img, #add .option .option-body img, #browse .option .option-body img {
      width: 80px; }

#plus .option {
  vertical-align: middle; }
#plus .option-body {
  position: relative;
  top: -10px; }

img#plus-img {
  width: 50px;
  display: inline-block;
  cursor: pointer; }

.remove-option {
  display: inline-block;
  width: 0px;
  height: 0px;
  position: relative;
  top: -56px;
  left: 60px;
  color: #4671D5; }

.remove-option-abs {
  position: absolute;
  width: 40px;
  height: 40px; }

.remove-option:hover {
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5); }

/*
 * CRASH MODAL STYLINGS
 */
#crash-description {
  width: 450px; }

#crash-damage {
  width: 450px; }

#crash-injured {
  width: 75px; }

#crash-killed {
  width: 75px; }

#modal-cardamage .modal-body {
  position: relative;
  text-align: center; }
#modal-cardamage img {
  width: 350px; }
#modal-cardamage .nums h1 {
  width: 45px;
  position: absolute;
  cursor: pointer;
  border-radius: 5px; }
#modal-cardamage #img-1 {
  top: 20px;
  left: 328px; }
#modal-cardamage #img-2 {
  top: 75px;
  left: 390px; }
#modal-cardamage #img-3 {
  top: 155px;
  left: 410px; }
#modal-cardamage #img-4 {
  top: 230px;
  left: 389px; }
#modal-cardamage #img-5 {
  top: 285px;
  left: 339px; }
#modal-cardamage #img-6 {
  top: 310px;
  left: 258px; }
#modal-cardamage #img-7 {
  top: 293px;
  left: 182px; }
#modal-cardamage #img-8 {
  top: 237px;
  left: 124px; }
#modal-cardamage #img-9 {
  top: 157px;
  left: 100px; }
#modal-cardamage #img-10 {
  top: 85px;
  left: 110px; }
#modal-cardamage #img-11 {
  top: 29px;
  left: 160px; }
#modal-cardamage #img-12 {
  top: 5px;
  left: 250px; }
