/*
 * Base #1240AB
 * Lighter #4671D5
 */

/*
 * Resources Consulted
 * 1. http://stackoverflow.com/questions/5564835/preventing-horizontal-scrolling-after-a-certain-width
 */

/* 1 */
html {
    overflow: auto;
}

/* 1 */
body{
    min-width: 960px;
    overflow: hidden;
}

/* 1 */
#wrapper {
    margin: 0 auto;
    position: relative;
}

#top {
    height: 100px;
    background-color: #1240AB;
    text-align: center;

    h1 {
        margin-top: 0px;
        padding-top: 25px;
        color: white;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
    }
}

/*
 * LOGIN PAGE STYLING
 */
#form-login {
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

/*
 * LANDING PAGE STYLING
 */

#container {
    width: 300%;
}

.page {
    position: relative;
    display: inline-block;
    width:33.33%;
}

#landing {
    margin-left: 0px;
    top: -344px;
}

#add {
    margin-left: 0px;
    left: -4px;
}

#browse {
    margin-left: 66.66%;
    top: -616px;
}

#landing, #add, #browse{
    text-align: center;

    .option {
        width: 200px;
        height: 150px;
        display: inline-block;
        border: thin solid black;
        text-align: center;
        margin: 10px;
        border-radius: 5px;
        vertical-align: top;
        cursor:pointer;

        h1 {
            font-size: 18px;
            color: white;
            text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
            margin-top: 0px;
            background-color: #4671D5;
        }

        .option-body {
            img {
                width: 80px;
            }
        }
    }
}

#plus {
    img {
        width: 50px;
    }
    .option {
        vertical-align: middle;
    }
}

/*
 * CRASH MODAL STYLINGS
 */
#crash-description {
    width: 450px;
}
#crash-damage {
    width: 450px;
}
#crash-injured {
    width: 75px;
}
#crash-killed {
    width: 75px;
}
